* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-shadow: 100cm;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
	font-family: kamerik-3d;
	src: url(../fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}
@font-face {
	font-family: merriweather-italic-3d;
	src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
body {
	background-color: #000;
	color: #fff;
	font-family: kamerik-3d;
}
.layers {
	perspective: 1450px;
	overflow: hidden;
}
.layers__container {
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}
.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.layer-1 {
	transform: translateZ(-55px) scale(1.06);
	mask-image: linear-gradient(#ffffff,rgba(0,0,0,0));
}
.layer-2 {
	transform: translateZ(80px) scale(.88);
	mask-image: linear-gradient(#ffffff,rgba(0,0,0,0));
}
.layer-3 {
	transform: translateZ(180px) scale(.8);
}
.layer-4 {
	transform: translateZ(190px) scale(.9);
	mask-image: linear-gradient(#ffffff,rgba(0,0,0,0));
}
.layer-5 {
	transform: translateZ(300px) scale(.9);
	mask-image: linear-gradient(#ffffff,rgba(0,0,0,0));
}
.layer-6 {
	transform: translateZ(380px);
	mask-image: linear-gradient(#ffffff,rgba(0,0,0,0));
}

.hero-content {
	font-size: calc(var(--index) * 2.9);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * -.15);
	line-height: 1.35em;
	margin-top: calc(var(--index) * 5.5);
	font-weight:800;
}

.hero-content span {
	display: block;
}

.hero-content__p {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * .73);
	line-height: 3;
}

.button-start {
	font-family: Arial;
	font-weight: 900;
	text-transform: uppercase;
	font-size: calc(var(--index) * .80);
	letter-spacing: -.075vw;
	padding: calc(var(--index) * .7) calc(var(--index) * 2);
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: rgb(255 255 255 / .4) 3px solid;
	outline: none;
	cursor: pointer;
	margin-top: calc(var(--index) * 2);
	height: 100%;
	min-width: 50vh;
	max-width: 500px;
	display:inline-block;
}

.layer-4, .layer-5, .layer-6 {
	pointer-events: none;
}

.contact{
margin-top: calc(var(--index) * 0.5);
}

footer{
	background-color: #101010;
	font-family: Arial, Helvetica, sans-serif;
}

.footerContainer
{
	width: 100%;
	padding: 10px,0px,10px;
}

a{
	text-decoration: none;
	background-size: 5em;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5em;
	border: rgb(255 255 255 / .4) 2px solid;
	margin-top: calc(var(--index) * 10);
	outline: none;
}

.socialIcons{
	display: flex;
	justify-content:center;
}

.socialIcons a{
	text-decoration: none;
	padding: 10px;
	background-color: white;
	margin: 10px;
	border-radius: 50%;
	width: 65px;
	height: 65px;
}

.socialIcons a i{
	font-size: 2em;
	color: black;
	opacity: 0.9;
}
.socialIcons a:hover{
	background-color: #111;
	transition: 0.5s;
}

.socialIcons a:hover i{
	color: white;
	transition: 0.5s;
}

.footerNav{
	margin: 1px 0;
}

.footerNav ul{
	display: flex;
	justify-content: center;
}

.footerNav ul li a{
	color: white;
	margin: 20px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;
	border-radius: 0em;
	outline: none;
	border: rgba(27, 27, 27, 0) 0px solid;
}

.footerNav ul li a:hover{
	opacity: 1;
}

.footerBottom{
background-color: #101010;
padding: 15px;
text-align: center;
}

.footerBottom p{
color: white;
}

.designer{
	font-weight: 700;
}

.container{
	height: 100%;
	min-width: 10vh;
	background:black;
	align-items: center;
	justify-content: center;
}
#S,#A,#B,#C,#D{
	margin-top: 40px;
	min-height: 175px;
	height: 100%;
	min-width: 600px;
	width: 100%;
	margin-bottom:20px;
	margin-left: 20px;
	align-items: center;
	justify-content: center;
	border: 3px dashed #fff;
}
.list{
	border-radius: 10px;
	border: rgb(255 255 255 / .4) 2px solid;
	background: #055319;
	height: 60px;
	width:210px;
	margin:10px;
	color: #fff;
	display: inline-block;
	align-items: center;
	justify-content: center;
	cursor: grab;
}
.list img{
	height: 40px;
	width: 40px;
	margin-left: 10px;
	margin-right: 15px;
	margin-top: 7px;
	margin-bottom: -10px;
	border-radius: 10px;
}
.hidden{
	opacity: 0;
	transition: all 1s;
	filter: blur(4px);
	transform:translateX(-100%);
}
.show{
	opacity: 1;
	transition: all 1s;
	filter: blur(0);
	transform:translateX(0);
}
.tier{
	display:inline-flex;
}
.tierImg{
	margin-left: 20px;
	border-radius: 10px;
	width: 150px;
	height: 175px;
	justify-content: center;
	align-items: center;
	display:flex;
	font-size: calc(var(--index) * 2.9);
	text-transform: none;
	font-family:merriweather-italic-3d;
	font-weight: 900;
	margin-top: 35px;
}
html{
	scroll-behavior: smooth;
}
.blank{
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	font-size: calc(var(--index) * .95);
}